@import url(https://fonts.google.com/specimen/Space+Grotesk);

@tailwind base;
@tailwind components;
@tailwind utilities;


   h1{
      color: #FFF;
      font-family: Montserrat;
      font-size: 72.729px;
      font-style: normal;
      font-weight: 800;
      line-height: 40px;
   }

   h4{
        color: #FFF;
        text-align: center;
        font-family: Work Sans;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 49.2px */
        letter-spacing: -0.82px;
   }
   h5{
    color: var(--White, #FFF);
    font-family: Metropolis;
    font-size: 43.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 53.167px; /* 122.222% */
    letter-spacing: -0.87px;
   }
   h6{
    color: #F5811E;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 35.689px;
    font-style: normal;
    font-weight: 700;
    line-height: 48.436px; /* 135.714% */
   }
   .txt{
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
   }
   .reachUs{
    color: #FFF;
    font-family: Metropolis;
    font-size: 24.167px;
    font-style: normal;
    font-weight: 400;
    line-height: 36.25px; /* 150% */
   }

   p{
      color: #FFF;
      font-family: Montserrat;
      font-size: 31.724px;
      font-style: normal;
      font-weight: 400;
      line-height: 109.625% ;
   }
   label{
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   }
   strong{
      color: #f5811e;
      font-weight: 700;
  }

  input{
    border-radius: 63.731px;
    border: 1px solid #C2C2C2;
    background: var(--neutral-colors-color-300, #F9F9FF);
    display: flex;
    width: 534.066px;
    padding: 30.591px;
    align-items: flex-start;
    gap: 305.909px;
    flex-shrink: 0;
  }




  .nav-bar{
      color: #FFF;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 100% */
      letter-spacing: 0.16px;

  }
  .cas{
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40.863px;
  }

  .lion{
      width: 782px;
      height: 855px;
      flex-shrink: 0;
  }

  .roaring{
      color: var(--llllp, #F5811E);
  }

  .travel{
    color: #FFF;
    background-color: #F5811E;
    width: 186.792px;
    height: auto;
  }
  .place{
    display: inline-flex;
    padding: 15px 9.757px 8.174px 9px;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    background: rgba(46, 46, 46, 0.30);
    backdrop-filter: blur(4.707650661468506px);
  }
  .groundText{
    color: #102228;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 35.689px;
    font-style: normal;
    font-weight: 700;
    line-height: 48.436px; /* 135.714% */;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 35.689px;
    font-style: normal;
    font-weight: 700;
    line-height: 48.436px; /* 135.714% */
  }
 
 .book-now {
   position: absolute;
   padding-bottom: 50px;
   display: none;
 }


.travel-card {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.travel-card:hover > .book-now {
   display: block;
}

  .btn{
    background: #F5811E;
    background-image: -o-linear-gradient(top, #F5811E, #F5811E);
    background-image: -webkit-gradient(to bottom, #F5811E, #F5811E);
    border-radius: 100px;
    color: #FFFFFF;
    font-family: DM Sans;
    font-size: 11.622px;
    font-style: normal;
    font-weight: 700;
    width: 128.009px;
    height: 61.009px;
    padding: 23.075px 29.433px;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #F5811E 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
   }
   
   .btn:hover {
      border: solid #F5811E 1px;
      background: #F5811E;
      background-image: -webkit-linear-gradient(top, #F5811E, #F5811E);
      background-image: -moz-linear-gradient(top, #F5811E, #F5811E);
      background-image: -ms-linear-gradient(top, #F5811E, #F5811E);
      background-image: -o-linear-gradient(top, #F5811E, #F5811E);
      background-image: -webkit-gradient(to bottom, #F5811E, #F5811E);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      text-decoration: none;
   }
  
   
*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding:0;
    margin:0
 }

 .eilte{
    width: 168.009px;
    height: 61.009px;
    padding: 18.075px 29.433px;
    border-radius: 44.164px;
    border: 1.813px solid var(--neutral-colors-white, #FFF);
    box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
   }
   
   .eilte:hover {
      border: solid rgb(238, 181, 131)1px;
      background: #e6ad7b;
      background-image: -webkit-linear-gradient(top, #F5811E, #F5811E);
      background-image: -moz-linear-gradient(top, #F5811E, #F5811E);
      background-image: -ms-linear-gradient(top, #F5811E, #F5811E);
      background-image: -o-linear-gradient(top, #F5811E, #F5811E);
      background-image: -webkit-gradient(to bottom, #F5811E, #F5811E);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      text-decoration: none;
   }
   .cusy{
    background: var(--neutral-colors-white, #FFF);
    width: 168.009px;
    height: 61.009px;
    padding: 18.075px 29.433px;
    border-radius: 44.164px;
    border: 1.813px solid var(--neutral-colors-white, #FFF);
    box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
   }
   .cusy:hover {
    border: solid rgb(238, 181, 131)1px;
    background: #e6ad7b;
    background-image: -webkit-linear-gradient(top, #F5811E, #F5811E);
    background-image: -moz-linear-gradient(top, #F5811E, #F5811E);
    background-image: -ms-linear-gradient(top, #F5811E, #F5811E);
    background-image: -o-linear-gradient(top, #F5811E, #F5811E);
    background-image: -webkit-gradient(to bottom, #F5811E, #F5811E);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
 }
   
 .suscrib{
    background: #F5811E;
    background-image: -o-linear-gradient(top, #F5811E, #F5811E);
    background-image: -webkit-gradient(to bottom, #F5811E, #F5811E);
    border-radius: 38.239px;
    color: var(--neutral-colors-white, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: 20.394px;
    width: 180.009px;
    height: 61.009px;
    padding: 12.075px 29.433px;
    border: solid #F5811E 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
   }
   .suscrib:hover {
    border: solid #F5811E 1px;
    background: #F5811E;
    background-image: -webkit-linear-gradient(top, #F5811E, #F5811E);
    background-image: -moz-linear-gradient(top, #F5811E, #F5811E);
    background-image: -ms-linear-gradient(top, #F5811E, #F5811E);
    background-image: -o-linear-gradient(top, #F5811E, #F5811E);
    background-image: -webkit-gradient(to bottom, #F5811E, #F5811E);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
   }
  
   .arts{
    color: #FC8233;
    width: 168.009px;
    height: 61.009px;
    padding: 18.075px 29.433px;
    border-radius: 44.164px;
    border: 1.813px solid var(--neutral-colors-white, #FFF);
    box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
   }
   
   .arts:hover {
      border: solid rgb(238, 181, 131)1px;
      background: #e6ad7b;
      background-image: -webkit-linear-gradient(top, #F5811E, #F5811E);
      background-image: -moz-linear-gradient(top, #F5811E, #F5811E);
      background-image: -ms-linear-gradient(top, #F5811E, #F5811E);
      background-image: -o-linear-gradient(top, #F5811E, #F5811E);
      background-image: -webkit-gradient(to bottom, #F5811E, #F5811E);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      text-decoration: none;
   }

   .ant:hover {
    border-bottom: solid rgb(238, 181, 131)1px;
    text-decoration: none;
 }
 
   firstContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
   }


   .popup{
      border-radius: 6px;
      position: absolute;
      top: 210%;
      left: 50%;
      transform: translate(-50%,-50%) scale(0.1);
      text-align: left;
      color:#333 ;
      visibility: hidden;
      transition: transform 0.4s, top 0.4s;
  }
  /*for javascript open and close button code linked*/
  .open-popup{
      visibility: visible;
      left: 50%;
      transform: translate(-50%,-50%) scale(1);
  }

  .open-page{
   visibility: hidden;
   transition: transform 0.4s,;
  }

  .closeer-button{
   visibility: hidden;
  }